{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
div {
  background-image: url('{% static 'display/img/service.jpg'%}');
}
</style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "display/css/style.css" %}> 
     <link rel="stylesheet" href={% static "display/css/indexnavbar.css" %}>  
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>hostel detail entry</title>
</head>
<body >
    <!-- Import typed.min.js file from typed.js folder -->
    <script src= {% static 'display/typed.js-master/lib/typed.min.js'%}></script>
    </script>
<!--img src="{% static 'display/img/logoicon.png'%}" height="70" width="70" alt=""-->

   
    <div class="contact_us" >
        
        <h1>
            <a id="2"> Enter Hostel Details </a>
        </h1>
        <div class="container">
            <div class="contact-box">
        <form method="POST" action="{% url 'rentalserviceprovider' %}" enctype="multipart/form-data">
                {% csrf_token %}
				<label for="name"></label>
				<input type="text" id="name" name="name" class="field" placeholder="Hostel Name">
        <label for="inputState"></label>
				<div class="field">
        <label for="inputCity" >Select City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <select name="inputCity" >
           {% for city in cities %}
             <option value="{{city}}">{{ city }}</option>
            {% endfor %}
           </select>
        </div>
        <div class="field">
        <label for="inputState">Select State&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <select name="inputState" >
           {% for states in states %}
             <option value="{{states}}">{{ states }}</option>
            {% endfor %}
           </select>
        </div>
        <input type="text" id="area" name="area" class="field" placeholder="Location">
        <label for="inputZip"></label>
        <input type="text" id="inputZip" name="inputZip" class="field" placeholder="Your Area Pincode">        
        <label for="Address" class="form-label"></label>
        <input type="text" id="Address" name="Address" class="field" placeholder="Address">
        <label for="rent"></label>
        <input type="number" id="rent" name="rent" class="field" placeholder="Monthly Rent">
        <label for="deposit"></label>
        <input type="number" id="deposit" name="deposit" class="field" placeholder="Intial Deposit">
        <label for="contact"></label>
        <input type="phone" id="contact" name="contact" class="field" placeholder="Phone number">
        <label for="description"></label>
        <textarea placeholder="Description" id="description" name="description" row="3" class="field"></textarea>   
        <div class ="field">
    <label for="area1"></label>
    <input id="mess" type="checkbox" class="field" name="mess">Mess available
    </div>
    <div class ="field">
    <label for="area2"></label>
    <input id="ac" type="checkbox" class="field" name="ac">AC available
    </div>
    <div class ="field">
     <label for="area3"></label>
    <input id="visitor" type="checkbox" class="field" name="visitor">Visitor Entry allowed
    </div>
    <div class ="field">
    <label for="area4"></label>
    <input id="water" type="checkbox" class="field" name="water">Water Cooler available
    </div>
    <div class ="field">
    <label for="area5"></label>
    <input id="room" type="checkbox" class="field" name="room">Room Cleaning available
    </div>
    <div class ="field">
    <label for="area6"></label>
    <input id="veg" type="checkbox" class="field" name="veg">Non veg allowed
    </div>
        <div class="field">     
				<label for="image1" class="form-label">image 1</label>
        <input class="form-control" type="file" id="image1" name="image1">
        </div>
        <div class="field">
        <label for="image2" class="form-label">image 2</label>
        <input class="form-control" type="file" id="image2" name="image2" >
        </div>
				<button type="submit" class="btn">Submit</button>
        </form>  
		    </div>
        </div>
    </div>

    <div class="footer">
        
            Made by <a href="https://github.com/Neeraj-2307" target="_blank">&nbsp;&nbsp;Neeraj Joshi</a>
            <a href="https://github.com/Pragati-64" target="_blank">&nbsp;&nbsp;Pragati Gupta</a>
            <a href="https://github.com/anjalirajj" target="_blank">&nbsp;&nbsp;Anjali Raj</a>
            <a href="https://github.com/aparnasingh26" target="_blank">&nbsp;&nbsp;Aparna Singh</a>
        
    </div>

      
    <!-- Add jquery cdn -->
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
  
    <!-- Add this script for successful 
        implementation of typed.js  -->
    <script>
        if ($(".text-slider").length == 1) {
              
            var typed_strings = 
                $(".text-slider-items").text();
  
            var typed = new Typed(".text-slider", {
                strings: typed_strings.split(", "),
                typeSpeed: 50,
                loop: true,
                backDelay: 900,
                backSpeed: 30,
            });
        }
    </script>


<!-- added the following script to avoid the reloading problem -->

    <script>
        if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
        }
    </script>
    <!--js for navbar-->
     <script>
    function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav" || x.className === "topnav-right") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
    </script>
</body>
</html>


































    
  
  

  
      
  
    
 
    